<table class='table'>
  <tr><%= image_tag user.get_profile_image, size:"100x100" %></tr>
  <tr>
	  <th>name</th>
	  <th><%= user.name %></th>
  </tr>
  <tr>
	  <th>introduction</th>
	  <th><%= user.introduction %></th>
  </tr>
  <!--フォロー数の表示-->
  <tr>
    <th>follows</th>
    <th><%= link_to user.followings.count, user_followings_path(user) %></th>
  </tr>
  <!--フォロワー数の表示-->
  <tr>
    <th>followers</th>
    <th><%= link_to user.followers.count, user_followers_path(user) %></th>
  </tr>
</table>

<div class='row'>
  <!--ログインしてるユーザーと表示対象のユーザーが異なるなら-->
  <% if current_user != user %>
    <!--"フォローする/外す"ボタン表示　　部分テンプレート-->
    <td><%= render "relationships/btn", user: user, options: {class: ""} %></td>  <!-- {class: ""}で空のクラス指定-->
  <% else %>
    <!--ユーザー情報の編集ボタン表示-->
    <%= link_to edit_user_path(user), class: "btn btn-outline-secondary btn-block" do %>
      <i class="fas fa-user-cog"></i>
    <% end %>
  <% end %>
</div>