<div class='container'>
  <div class='row'>

    <!--画面左側-->
    <div class='col-md-3'>
      <h2>User info</h2>
      <%= render 'users/info', user: @user %>
      <h2 class="mt-3">New book</h2>
      <%= render 'form', book: @book_new %>
    </div>

    <!--画面右側-->
    <div class='col-md-8 offset-md-1'>
  		<h2>Book detail</h2>
  		<!--書籍の詳細-->
  		<table class='table'>
  		  <tr>
          <td>
            <%= link_to(@book.user) do %>
              <!--ユーザー画像-->
              <%= image_tag @book.user.get_profile_image, size:"100x100" %><br>
              <!--ユーザー名-->
              <%= @book.user.name %>
            <% end %>
          </td>
           <!--書籍詳細画面(books/show.html.erb)へ遷移-->
          <td><%= link_to @book.title, @book %></td>
          <td><%= @book.body %></td>
          <!--いいね表示　　部分テンプレート（非同期通信の実装済み）-->
            <!--IDを要素に追加するとその要素を独自に特定できる。JavaScriptのコードでは、IDを使って特定の要素にアクセスして操作できる-->
        <td id="favorite_btn_<%= @book.id %>" >   <!--書籍IDが1の場合はfavorite_btn_1というidになる-->
          <%= render "favorites/btn", book: @book %>
        </td>
          <!--コメント数表示　　部分テンプレート-->
          <td><%= render "book_comments/counter", book: @book %></td>
          <!--書籍作成者がログインしてるユーザーだったら編集ボタンと削除ボタンを表示-->
          <% if @book.user == current_user %>
            <td><%= link_to 'Edit', edit_book_path(@book), class: "btn btn-sm btn-success" %></td>
            <td><%= link_to 'Destroy', @book, method: :delete, data: { confirm: '本当に消しますか？' }, class: "btn btn-sm btn-danger"%></td>
          <% end %>
        </tr>
      </table>
      <!--コメント一覧　　部分テンプレート-->
      <%= render "book_comments/index", book: @book %>
      <!--コメント投稿フォーム　　部分テンプレート-->
      <%= render "book_comments/form", book: @book, book_comment: @book_comment %>
    </div>

  </div>
</div>